body {
  font-family: Arial, sans-serif;
  background-color: #eee;
  margin: 20px;
}

header {
  text-align: center;
  margin-bottom: 20px;
}

h1 {
  color: #333;
}

#taskInput {
  padding: 8px;
}

#addButton {
  padding: 8px;
  cursor: pointer;
}

ul {
  list-style-type: none;
  padding: 0;
}

li {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
  font-size: large;
}


input[type="checkbox"] {
  appearance: none;
  margin: 0.5em;
  font: inherit;
  color: currentColor;
  width: 1.15em;
  height: 1.15em;
  border: 0.15em solid currentColor;
  border-radius: 0.15em;
  transform: translateY(-0.075em);

  display: grid;
  place-content: center;
}

input[type="checkbox"]::before {
  content: "";
  width: 0.65em;
  height: 0.65em;
  clip-path: polygon(14% 44%, 0 65%, 50% 100%, 100% 16%, 80% 0%, 43% 62%);
  transform: scale(0);
  transform-origin: bottom left;
  transition: 120ms transform ease-in-out;
  box-shadow: inset 1em 1em var(--form-control-color);
  background-color: CanvasText;
}

input[type="checkbox"]:checked::before {
  transform: scale(1);
}

input[type="checkbox"]:focus {
  outline: max(2px, 0.15em) solid currentColor;
  outline-offset: max(2px, 0.15em);
}

span {
  cursor: pointer;
}

button {
  margin-left: 1em;
  padding: 5px;
  cursor: pointer;
  color: #666;
  border: none;
  border-radius: 5px;
}

button:hover{
  transition: 600ms;
  background-color: #f31919;
  color:#fff
}

button.add{
  background-color: rgb(105, 27, 158);
  color:#fff
}

button:disabled{
  background-color: #363030;

}
